table {
    border-radius: 5%;
    border-collapse: collapse;
}

tr{
    width: max-content;
    height: max-content;
}

.right {
    padding-left: 3vw;
}

tr:nth-child(odd) {
   background-color: rgb(245, 245, 245);
   border-collapse: collapse;
}

td {
    border: 1px solid lightgrey;
}