body {
    padding: 5px;
    height: 100%;
}

#header {
    height: 8vh;
    padding: 0.5em;
    display: flex;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header_photo {
    max-height: 8vh;
    width: auto;
}

.header_photo:nth-last-child(2){
    margin-right: 2em;
}

#HEPA_logo {
    margin-right: 69vw;
}

#title_div {
    color: rgb(48, 60, 115);
    font-size: 2em;
    font-weight: bold;
    margin-left: 1.5vw;
    margin-right: 25vw;
}

#blue-line {
    height: 0.3vh;
    background-color: rgb(48, 60, 115);
}

main {
    height: 100%;
}

#map {
    width: 98.5vw;
    height: 90vh;
}

.marker-cluster-number {
    font-weight: bold;
    color: white;
    background-color: rgb(48, 60, 115);
    text-align: center;
    padding: 1em;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }